<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="true"
            layout="${date:format=G} ${logger} ${uppercase:${level}} ${message}" >
    </target>
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
                        layout="${date:format=G} ${logger} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="logfile" />
  </rules>
</nlog>